body{
   margin: 0;
   padding: 0;
   background-color: #D3D3D3

}
.form-control{
   border-color: #211B15;

.form-group:focus{
   border-color: #54a1c1;
   box-shadow: 0 0 0 1rem #54a1c1;


}
.form-group:hover{
   border-color: #54a1c1;

}

#buttonFormsub{
    box-shadow: 0 0 0 0.010rem #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}