body{
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;

}

/* index area */

.logo {
    width: 39vh;
    height: 13vh;
    transform: scale(0.9);

}

.logo:hover {
    transform: scale(1);

}


#chamada{
    font-size: 18px;
    font-weight: 200;
    font-style: oblique;
    padding: 1px;
    margin-left: 30px;
}

b {
    font-weight: 700;
    color:#e00014;
}

#img{
   height: 500px;
   width: 900px;
   padding: 1px;
   padding-left: 200px;



}

.nav-link{
    color: #FFFFFF
    transform: scale(1);
    font-weight: 800;

}


.nav-link:hover{
    color: #FFFFFF
    transform: scale(1.2);
    text-decoration: underline;

}

main{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

/* forms area */

.form-control{
   border-color: #211B15;

.form-group:focus{
   border-color: #54a1c1;
   box-shadow: 0 0 0 1rem #54a1c1;


}
.form-group:hover{
   border-color: #54a1c1;

}

#buttonFormsub{
    box-shadow: 0 0 0 0.010rem #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

