{% extends "base.html" %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% block head %}


<body>
<main class="container col-6 col-md-3">
   <h2 class="">Digite seu atual email</h2>
</div>
<div class="">
    <form class="" method="POST" action="">
        {{ form.csrf_token() }}
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email_confirmation.label}}
            {{ form.email_confirmation(class="form-control")}}
        </div>

        {% for field, errors in form.errors.items() %}
            <div class="alert alert-danger" role="alert">
                <sstrong>{{ form[field].label }}</sstrong>: {{ ', '.join(errors) }}
            </div>
        {% endfor %}
        <div id="buttonRegister" class="container col-6 col-md-3">
            {{ form.submit(class="btn bg-white text-black -btn-sm justify-content-md-center")}}
        </div>
    </form>
</div>

</main>







<


</body>
{% endblock %}