{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e00014;">
  <img class="logo" src="{{url_for('static', filename='DUFRY_lOGO.png')}}"></img>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('register')}}">Cadastre-se<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('login')}}">Login</a>
        </li>
      </ul>
  </div>
</nav>
<div class="container col-6 col-md-3">
    <h2>{{ form.complete_name.data }}</h2>
</div>
    <form class="container col-6 col-md-3" method="POST" action="">
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.social_name.label }}
            {{ form.social_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.birth_date.label }}
            {{ form.birth_date(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.raca_cor_etinia.label }}
            {{ form.raca_cor_etinia(class="form-control") }}
        </div>
         <div class="form-group  ">
            {{ form.gender.label }}
            {{ form.gender(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.marital_status.label }}
            {{ form.marital_status(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.nacionality.label }}
            {{ form.nacionality(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.nacionality_br.label }}
            {{ form.nacionality_br(class="") }}
        </div>
         <div class="form-group  ">
            {{ form.state.label }}
            {{ form.state(class="form-control") }}
        </div>
         <div class="form-group  ">
            {{ form.city.label }}
            {{ form.city(class="form-control") }}
        </div>
         <div class="form-group  ">
            {{ form.rg.label }}
            {{ form.rg(class="form-control") }}
        </div>
         <div class="form-group  ">
            {{ form.shipping_date_rg.label }}
            {{ form.shipping_date_rg(class="form-control") }}
        </div>
         <div class="form-group  ">
            {{ form.shipper_rg.label }}
            {{ form.shipper_rg(class="form-control") }}
        </div>
         <div class="form-group  ">
            {{ form.cpf.label }}
            {{ form.cpf(class="form-control") }}
        </div>
         <div class="form-group  ">
            {{ form.cnh.label }}
            {{ form.cnh(class="form-control") }}
        </div>
         <div class="form-group  ">
            {{ form.cep.label }}
            {{ form.cep(class="form-control") }}
        </div>
         <div class="form-group  ">
            {{ form.complement_address.label }}
            {{ form.complement_address(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.tel.label }}
            {{ form.tel(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.tel_message.label }}
            {{ form.tel_message(class="form-control") }}
        </div>
         <div class="form-group  ">
            {{ form.personal_email.label }}
            {{ form.personal_email(class="form-control") }}
        </div>
         <div class="form-group  ">
            {{ form.message_email.label }}
            {{ form.message_email(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.scholarity_progress.label }}
            {{ form.scholarity_progress(class="") }}
        </div>
        <div class="form-group  ">
            {{ form.scholarity_progress.label }}
            {{ form.scholarity_progress(class="") }}
        </div>
        <div class="col-md col-md-offset-4"">
            <h2>Informações sobre saúde</h2>
        </div>
        <div class="form-group">
            {{ form.vaccine_covid.label }}
            {{ form.vaccine_covid(class="form-control") }}
        </div>
        <div class="col-md col-md-offset-4">
            <h2>Informações sobre composição familiar</h2>
        </div>
         <div class="form-group">
            {{ form.mame_mom.label }}
            {{ form.mame_mom(class="form-control") }}
        </div>
         <div class="form-group">
            {{ form.profession_mom.label }}
            {{ form.profession_mom(class="form-control") }}
        </div>
         <div class="form-group">
            {{ form.scholarity_mom.label }}
            {{ form.scholarity_mom(class="form-control") }}
        </div>
         <div class="form-group">
            {{ form.mame_dad.label }}
            {{ form.mame_dad(class="form-control") }}
        </div> <div class="form-group">
            {{ form.profession_dad.label }}
            {{ form.profession_dad(class="form-control") }}
        </div>
         <div class="form-group">
            {{ form.scholarity_dad.label }}
            {{ form.scholarity_dad(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.children.label }}
            {{ form.children(class="") }}
        </div>
        <div class="form-group  ">
            {{ form.many_childrens.label }}
            {{ form.many_childrens(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.live_whith_parents.label }}
            {{ form.live_whith_parents(class="") }}
        </div>
        <div class="form-group  ">
            {{ form.lives_whith_other_family.label }}
            {{ form.lives_whith_other_family(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.many_people_live_house.label }}
            {{ form.many_people_live_house(class="form-control") }}
        </div>
         <div class="col-md col-md-offset-4">
            <h2>Informações sobre familiares que dividem o lar</h2>
         </div>
        <div class="form-group  ">
            {{ form.children.label }}
            {{ form.children(class="") }}
        </div>
         <div class="form-group  ">
            {{ form.many_childrens.label }}
            {{ form.many_childrens(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.live_whith_parents.label }}
            {{ form.live_whith_parents(class="") }}
        </div>
        <div class="form-group  ">
            {{ form.lives_whith_other_family.label }}
            {{ form.lives_whith_other_family(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.many_people_live_house.label }}
            {{ form.many_people_live_house(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.member_family_name.label }}
            {{ form.member_family_name(class="form-control") }}
        </div>
         <div class="form-group  ">
            {{ form.degree_of_kinship.label }}
            {{ form.degree_of_kinship(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.age_member_family.label }}
            {{ form.age_member_family(class="form-control") }}
        </div>
        <div class="form-group  ">
            {{ form.income_member_family.label }}
            {{ form.income_member_family(class="form-control") }}
        </div>

        {% for field, errors in form.errors.items() %}
            <div class="alert alert-danger" role="alert">
                <sstrong>{{ form[field].label }}</sstrong>: {{ ', '.join(errors) }}
            </div>
        {% endfor %}
        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>
{% endblock %}<