{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e00014;">
  <a  class="logo" href="{{url_for('index')}}"><img class="logo" src="{{url_for('static', filename='DUFRY_lOGO.png')}}"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('register')}}">Cadastre-se<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('login')}}">Login</a>
        </li>
      </ul>
  </div>
  <form id="formu" class="d-flex">
            <input id="inputEmail" class="form-control me-4 bg-white text-black" type="email" placeholder="Login" aria-label="email">
            <input id="inputSenha"class="form-control me-4 bg-white text-black" type="password" placeholder="senha" aria-label="senha">
            <button type="submit" id="botaoLogin" onclick="validaForm()">Login</button>
            <a class="input text-white text-center" id="esqueceusenhaLogin" href="./RecupLogin.html">Esqueceu a senha?</a>
  </form>
</nav>

<div class="index">

</div>



{% endblock %}