{% extends "base.html" %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% block head %}


<body>
<main>
  <div id="chamada">
    <h1>Prepare-se para o mercado de trabalho conosco!<p></h1>
    <p>
    <h3><b>Módulo Mundo do Trabalho:</b>proteção de
dados, Segurança da informação, Recursos
Humanos, Tecnologia da Informação,
Departamento Pessoal, Relação Humanas,
Inteligência Emocional e Empreendedorismo
    <p>
    <p>
    <b>Módulo Mundo Contemporâneo:</b>Cidadania, assuntos da contemporaneidade
    <p>
    <b>Módulo Extra Muros:</b>Passeios culturais pelo Rio de Janeiro</h3>
  </div>

  <article>
    <img id="img" src="./static/backgroundindex.png">
  </article>

</main>









</body>
{% endblock %}