{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

    <h2 class="container col-6 col-md-3">Registro de Aluno</h2>
</div>
<div>
    <form class="container col-6 col-md-3" method="POST" action="">
        {{ form.csrf_token() }}
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label}}
            {{ form.username(class="form-control")}}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control") }}
        </div>


        {% for field, errors in form.errors.items() %}
            <div class="alert alert-danger" role="alert">
                <sstrong>{{ form[field].label }}</sstrong>: {{ ', '.join(errors) }}
            </div>
        {% endfor %}
        <div id="buttonRegister" class="container col-6 col-md-3">
            {{ form.submit(class="btn bg-white text-black -btn-sm justify-content-md-center")}}
        </div>
    </form>
</div>
{% endblock %}<