{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/forms.css')}}">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e00014;">
  <a  class="logo" href="{{url_for('index')}}"><img class="logo" src="{{url_for('static', filename='DUFRY_lOGO.png')}}"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('register')}}">Cadastre-se<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('login')}}">Login</a>
        </li>
      </ul>
  </div>
</nav>
    <h2 class="container col-6 col-md-3">Registro de Aluno</h2>
</div>
<div>
    <form class="container col-6 col-md-3" method="POST" action="">
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.username.label}}
            {{ form.username(class="form-control")}}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control") }}
        </div>


        {% for field, errors in form.errors.items() %}
            <div class="alert alert-danger" role="alert">
                <sstrong>{{ form[field].label }}</sstrong>: {{ ', '.join(errors) }}
            </div>
        {% endfor %}
        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>
{% endblock %}<